
.welcome{
    flex-direction: row;
    margin: 10vh;
    align-self: center;
    text-align: center;
    font-size: 35px;
}

.text{
    flex-direction: row;
    margin-bottom: 10vh;
    align-self: center;
    text-align: center;
    font-size: 30px;
}

.footer{
    align-self: center;
}

.general-orange-button{
    align-self: center;
    margin: 3vh;
}