.InputTxt {
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: 'Orelega One';
    font-style: normal;
    font-size: 100%;
    width: 100%;
    border: solid 2px var(--writingBrack);
    border-radius: 7px;
    background-color: tra;
}