:root{
    --logo: #FBC146;
    --writingBrack: #000000;
    --writingWhite: #ffffff;
    --button: #F96446;
    --backgroundSepia: #F2CB94;
    --backgroundYellow: #de9b3e;
    --backgroundOrange: #DE6E3E;
}