body{
    background-color: var(--backgroundSepia);
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%
}

.logo-image {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: auto;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    padding: 1vh;
}

.assign-role {
    font-size: 24px;
    align-self: center;
    padding: 2vh;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    width: 100%;
    font-size: 24px;
    padding: 5vh;
    background-color: var(--backgroundOrange);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.onClick-button {
    margin: 2vh;
    align-self: center;
}

.general-orange-button{
    width: 25vh;
    height: 5vh;
    font-size: 24px;
}

.link-to{
    font-size: 20px;
    align-self: center;
    padding: 1vh;
}